
*.xml
migrations/script.py.mako
.idea/workspace.xml
migrations/alembic.ini
migrations/env.py
Tetris/__pycache__/__init__.cpython-37.pyc
Tetris/__pycache__/models.cpython-37.pyc
Tetris/__pycache__/views.cpython-37.pyc
migrations/README
.idea/workspace.xml
migrations/versions/__pycache__/7e96002b743f_init.cpython-37.pyc
migrations/versions/7e96002b743f_init.py
migrations/__pycache__/env.cpython-37.pyc
Tetris/tetris.db
.idea/dataSources/4fdb2c73-1ce0-4cbb-bbc9-564224aafc5d/_metadata_/metadata
.idea/dataSources/4fdb2c73-1ce0-4cbb-bbc9-564224aafc5d/_metadata_/metadata.keystream
.idea/dataSources/4fdb2c73-1ce0-4cbb-bbc9-564224aafc5d/_metadata_/metadata.keystream.len
.idea/dataSources/4fdb2c73-1ce0-4cbb-bbc9-564224aafc5d/_metadata_/metadata.len
.idea/dataSources/4fdb2c73-1ce0-4cbb-bbc9-564224aafc5d/_metadata_/metadata_i
.idea/dataSources/4fdb2c73-1ce0-4cbb-bbc9-564224aafc5d/_metadata_/metadata_i.len
.idea/workspace.xml
.idea/workspace.xml
migrations/versions/299021dfaafd_um.py
migrations/versions/__pycache__/299021dfaafd_um.cpython-37.pyc
.idea/dataSources/4fdb2c73-1ce0-4cbb-bbc9-564224aafc5d/_metadata_/metadata.values.at
.idea/workspace.xml
migrations/versions/__pycache__/e0f146d9be43_challenge.cpython-37.pyc
migrations/versions/e0f146d9be43_challenge.py
