
*.xml
migrations/script.py.mako
.idea/workspace.xml
migrations/alembic.ini
migrations/env.py
Tetris/__pycache__/__init__.cpython-37.pyc
Tetris/__pycache__/models.cpython-37.pyc
Tetris/__pycache__/views.cpython-37.pyc
migrations/README
.idea/workspace.xml
migrations/versions/__pycache__/7e96002b743f_init.cpython-37.pyc
migrations/versions/7e96002b743f_init.py
migrations/__pycache__/env.cpython-37.pyc
Tetris/tetris.db
.idea/dataSources/4fdb2c73-1ce0-4cbb-bbc9-564224aafc5d/_metadata_/metadata
.idea/dataSources/4fdb2c73-1ce0-4cbb-bbc9-564224aafc5d/_metadata_/metadata.keystream
.idea/dataSources/4fdb2c73-1ce0-4cbb-bbc9-564224aafc5d/_metadata_/metadata.keystream.len
.idea/dataSources/4fdb2c73-1ce0-4cbb-bbc9-564224aafc5d/_metadata_/metadata.len
.idea/dataSources/4fdb2c73-1ce0-4cbb-bbc9-564224aafc5d/_metadata_/metadata_i
.idea/dataSources/4fdb2c73-1ce0-4cbb-bbc9-564224aafc5d/_metadata_/metadata_i.len
.idea/workspace.xml
.idea/workspace.xml
migrations/versions/299021dfaafd_um.py
migrations/versions/__pycache__/299021dfaafd_um.cpython-37.pyc
.idea/dataSources/4fdb2c73-1ce0-4cbb-bbc9-564224aafc5d/_metadata_/metadata.values.at
.idea/workspace.xml
migrations/versions/__pycache__/e0f146d9be43_challenge.cpython-37.pyc
migrations/versions/e0f146d9be43_challenge.py
Tetris/static/js/util.js
Tetris/static/js/skel.min.js
Tetris/static/js/main.js
Tetris/static/js/jquery.min.js
Tetris/static/img/pic11.jpg
Tetris/static/img/pic10.jpg
Tetris/static/img/pic09.jpg
Tetris/static/img/pic08.jpg
Tetris/static/img/pic07.jpg
Tetris/static/img/pic06.jpg
Tetris/static/img/pic05.jpg
Tetris/static/img/pic04.jpg
Tetris/static/img/pic03.jpg
Tetris/static/img/pic02.jpg
Tetris/static/img/pic01.jpg
Tetris/static/img/banner.jpg
Tetris/static/fonts/FontAwesome.otf
Tetris/static/fonts/fontawesome-webfont.woff2
Tetris/static/fonts/fontawesome-webfont.woff
Tetris/static/fonts/fontawesome-webfont.ttf
Tetris/static/fonts/fontawesome-webfont.svg
Tetris/static/fonts/fontawesome-webfont.eot
Tetris/static/css/font-awesome.min.css
Tetris/templates/base.html
*.pyc
Tetris/static/css/main.css
Tetris/static/css/main.css
.idea/workspace.xml
migrations/versions/30784d398f19_init2.py
