{% extends 'base.html' %}
{% from 'form_macros.html' import render_field %}

{% block title %}
    <title>Login</title>
    {{ super() }}
{% endblock %}

{% block banner %}
{% endblock %}

{% block content %}
    <section>
        <h1>Please log in</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <table>
                {{ render_field(form.username, size=50) }}
                {{ render_field(form.password, size=50) }}
                {{ render_field(form.remember_me) }}

                <tr class="submit form-field">
                    <td></td>
                    <td> <button type="submit">Log in</button> </td>
                </tr>

            </table>
        </form>
    </section>
{% endblock %}
